name: Release action

on:
  push:
    branches:
      - release**

jobs:
  build:
    name: Release
    if: "!contains(github.event.head_commit.author, 'action@github.com')"
    runs-on: ubuntu-latest
    steps:
      - run: echo ::set-env name=BRANCH::$(echo -n "${GITHUB_REF#refs/heads/}")
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 10
      - run: npm i
      - name: Bump version
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          npm run release
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{env.BRANCH}}
          force: true
          tags: true
